
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap');
:root{
    --color-one : #fbc6a4;
    --color-two: #f8e1f4;
    --color-three: #ffe9d6;
    --color-four: #ffecda;
    --color-five: #cc9b6d;
}

body{

    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    margin: 50px auto 0 auto ;
    /* padding: 30px 0px 5px; */
    font-family: 'Sacramento', cursive;
    font-size: 80px;
    color: var(--color-one);
}
h2{
    color: var(--color-one);
    font-family: 'Montserrat', sans-serif;
    font-style: 2.5rem ;
    font-weight: normal;
    padding-bottom: 10px ;
}
h3{
    color: var(--color-five);
}
p{
    line-height: 2;
}
hr{
    
    border-style: none;
    border-top-style:dotted;
    border-color : #EAF6F6;
    border-width: 6px;
    width: 4%;
}
.top-container{
    background-color: var(--color-four);
    position: relative;
    padding-top: 100px;
}
.top-cloud{
    position: absolute;
    right: 270px;
    top : 10px;
}


.bottom-cloud{
position: absolute;
left: 200px;
bottom : 150px;
}
.illustration
{
    width : 25%;
    height:25%;
}
.middle-container{
    margin : 100px 0;

}
.img-profile{
    width: 10%;
   
    border-radius: 50%;
}
.intro{
    width: 30%;
    margin: auto; 
}
.skill-row{
     width: 50%;
     margin : 100px auto 100px auto;

}
.bottom-container{
    background-color: var(--color-one);
    padding: 50px 0 20px;
}
.contact-me{
    width: 40%;
    margin: 40px auto 60px;
}