
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap');
:root{
    --color-one : #faeee7;
    --color-two: #f8e1f4;
    --color-three: #ffd3b4;
    --color-four: #ffecda;
    --color-five: #ffdada
}

body{
    margin: 0;
    text-align: center;
}
h1{
    margin-top: 0;
    padding: 30px 0px 5px;
    font-family: 'Sacramento', cursive;
    font-size: 80px;
}
.top-container{
    background-color: var(--color-three);
    position: relative;

}
.top-cloud{
    position: absolute;
    right: 270px;
    top : 70px;
}

.bottom-cloud{
position: absolute;
left: 200px;
bottom : 150px;
}
.illustration
{
    width : 25%;
    height:25%;
}
.middle-container{
    background-color: var(--color-three);
}
.bottom-container{
    background-color: var(--color-three);
}